.topbar {
    background-color: purple;
    color: white;
    height: 80px;
    align-items: center;
}

.input {
    width: 100%;
    margin-bottom: 5px;
    height: 35px;
    font-size: 15px;
}

.add-input {
    max-width: 200px;
}

.analyser-input {
    max-width: 400px;
}

.add-btn {
    width: 100%;
    border-radius: 2px;
    max-width: 200px;
}

.words {
    max-width: 300px;
    background-color: #7df094;
    border-radius: 5px;
}

.words>.header {
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

.added-words {
    min-height: 50px;
}

#analysis-status {
    padding-left: 10px;
}

.valid {
    color: #038f03;
    font-weight: bold;
}

.invalid {
    color: red;
    font-weight: bold;
}

.valid-cell {
    background-color: green !important;
    color: white;
}

.invalid-cell {
    background-color: red !important;
    color: white;
}

.light-valid-cell {
    background-color: #74eb74 !important;
}

.light-invalid-cell {
    background-color: #eb5a5a !important;
}

.reset-button {
    width: 100%;
    max-width: 300px;
    border-radius: 2px;
}